body{
	background-color: #816B64;
	color: #F9F6F0;
	font-family: Georgia, serif;
	margin-right: 10em;
	margin-left: 10em;
	margin-bottom: 5em;
	margin-top: -1em;
}

h1{
	color: #FFFFFF;
	font-family: Georgia, serif;
	font-size: 50px;
	letter-spacing: -0.6px;
	word-spacing: 2px;
	font-weight: 700;
	text-decoration: none;
	font-style: italic;
	font-variant: normal;
	text-transform: capitalize;
	text-align: center;
}

nav {
	background-color: #E9DAC4;
	line-height: 200%;
	text-align: center;
	margin-top: 0%;
	color: #816B64;
}

nav a {
	color: #4C474A;	
}
			
nav li {
	padding-right: 50px;
	display: inline;
}

a{
	text-decoration: none;
}

a:hover {
	color: #3333ff;
	text-decoration-line: underline;
}

a:active {
	color: black;
	text-decoration-line: underline;
}

.logo{
	text-align: center;
}

#image-1{
	display: inline-block;
	vertical-align: middle;
	width: 90px;
}

#image-2{
	display: inline-block;
	vertical-align: middle;
	width: 90px;
}

.title{
	display: inline-block;
}

.romImage{
	display: block;
  	margin-left: auto;
  	margin-right: auto;
  	height: 530px;
  	width: 1000px;
}

.heading{
	color: #FFFFFF;
	font-family: Georgia, serif;
	font-size: 30px;
	font-style: italic;
	text-align: center;
}

.paragraph{
	font-family: Georgia, serif;
	font-size: 18px;
}

.moreInformation{
	background-image: url(moreInformation.jpg);
	text-align: center;
}

.website{
	color: #000000;
	font-size: 15px;
	padding: 10px;
}

.historyImage {
	display: block;
  	margin-left: auto;
  	margin-right: auto;
  	height: 230px;
  	width: 400px;
}

.collectionImage{
	height: 230px;
	width: 400px;
	display: block;
  	margin-left: auto;
  	margin-right: auto;
}